@inherits BluxComponentBase
@page "/navigate"

<h3>Navigate</h3>

<button class="btn btn-primary" @onclick="NavigateToHome">Navigate To Home</button>

@code {

    private void NavigateToHome()
    {
        Navigate("/");
    }
}
